@charset "utf-8";
html{font-size:14px;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;*overflow:auto;_overflow-x:hidden;}
body{margin:0;min-width: 1124px;font-size:14px;}
body,div,span,td,th,p { color:#535353; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",arial;}
a {text-decoration:none; color:#535353;}
a:hover {text-decoration: underline;}
time{display: block;}
p,ul,ol,form,dl,dt,dd,h1,h2,h3,h4,h5,h6,a{margin:0;padding:0;}
dl,dd{margin-left:0;}
ul,ol{padding-left:0;*margin-left:0;list-style-type:none;}
ul li{*zoom:1;*vertical-align:bottom;}
em,var,cite,i{font-style:normal;}
small{font-size:inherit;}
s,a{text-decoration:none;}
:focus{outline:none;}
blockquote,q{quotes:none;margin:0;}
table{border-collapse:collapse;border-spacing:0;empty-cells:show;}
img,iframe{border:none;}
textarea, input, select, button {color:#333;font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",arial;}
textarea,select,button,.tinput,.submit,.button{margin:0;vertical-align:middle;outline:0;background:transparent;resize:none;}
textarea{overflow:auto;vertical-align:top;}
input[type='checkbox'],input[type='radio']{vertical-align:-2px;*vertical-align:middle;}
label,button,.button,.submit,.reset{cursor:pointer;}
button,input{*overflow:visible;line-height:normal;}
hr,.fn-hr{width:100%;height:0;*height:2px;font-size:0;line-height:0;border:none;border-top:#CFCFCF solid 1px;margin:0 auto;}
form {margin:0; padding:0;}
.clr{*zoom:1;}
.clr:before,.clr:after{content:"";display:table;}
.clr:after{clear:both;}
.outwidth{width:1024px;margin:0 auto;}
.non{display: none;}
.clear {width:120%; height:1px; margin-top:-1px; overflow:hidden;}
input::-ms-clear{display:none;}/*隐藏文本框叉子*/
input::-ms-reveal{display:none;}/*隐藏密码框小眼睛*/
.fl{float:left;}
.fr{float:right;}
.w1124{width:1124px;margin:0 auto;}
.w1000{width:1000px;margin:0 auto;}

.header{position:relative;height:60px;color:rgba(255,255,255,.7);background: #000;}
.header a{display: inline-block;line-height: 60px;padding: 0 20px;color:rgba(255,255,255,.7);}
.header a:hover,.header a.on{background: #363c41;text-decoration: none;}

.header_r{position: absolute;top:0;right:0;}








